
:root {
    --fore: #dae7ef;
    --link: #a4d3f1;
    --back: #060f19;
    --cursor: url('image/cursor.png') 8 6, default;
}

* {
    box-sizing: border-box;
}

html {
    font-size: large;
    font-family: 'Xolonium GPL', 'Noto Sans', 'Segoe UI', 'TsangerYuYangT', sans-serif;
    color: var(--fore);
    background-color: var(--back);
    text-align: center;
    cursor: var(--cursor);
    line-height: 1.5em;
}

a:link, a:visited, a:hover, a:active {
    color: var(--link);
    text-decoration: underline;
}

body {
    margin: 0;
    margin-bottom: 20vh;
}

h1 {
    line-height: 2em;
    margin: 1.5em 0;
    box-shadow: 0 0 8px 4px var(--link);
    color: var(--link);
}
h2 {
    margin: 1em 0;
    font-weight: normal;
}

.tag {
    display: inline-block;
    vertical-align: middle;
    font-size: small;
    line-height: 1.5em;
    padding: 4px;
    border: 2px solid var(--fore);
    color: var(--fore);
    border-radius: 1.5em;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 1em;
    background-color: var(--link);
    color: var(--back);
    font: inherit;
    cursor: pointer;
}

pre, .xoncfg {
    text-align: start;
    font-family: 'Hack', 'Inconsolata', 'Consolas', monospace;
    margin: auto;
    width: 720px;
    overflow-x: auto;
    max-width: 100%;
    padding: 1em;
    border: 2px solid var(--link);
    border-radius: 1em;
    cursor: text;
}

iframe {
    display: block;
    border: none;
    background-color: #e0e0e0;
    width: 720px;
    max-width: 100%;
    height: 16em;
    margin: auto;
}

.live {
    display: flex;
    margin: auto;
    padding: 8px;
    width: 36em;
    max-width: 100%;
}
.live__info {
    flex-grow: 1;
    padding: 8px 1em;
}

.browser {
    width: 720px;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    text-align: start;
    max-height: 50vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    border: 2px solid var(--link);
    border-radius: 1em;
}
.browser > a {
    display: block;
    text-decoration: none;
}
.about > a {
    display: inline-block;
    margin: 0 8px;
}

.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
    position: absolute;
}

@media (max-width: 736px) {
    html {
        font-size: medium;
    }
    pre, .xoncfg, .browser {
        width: calc(100% - 16px);
        margin: 8px;
    }
}
